{% extends "base.html" %}

{% block title %}Literature Review - Analyze Relevant Articles{% endblock %}
{% block page_name %}Literature Review AI Agent{% endblock %}

{% block content %}
<h2>Analyze Relevant Articles</h2>
<div class="my-4 py-4 bg-slate-100">
    <!-- Inputs to the Session -->
    <h3 class="mx-4">Upload:</h3>
    <!-- <form class="mx-auto py-4 w-7/8 text-center" action="create/" method="POST"> -->
    <form class="mx-auto py-4 w-7/8 text-center" action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="grid grid-cols-1 md:grid-cols-3 md:gap-2 md:items-center mb-4">
            <label class="text-left md:text-right" for="gemini_api_key">Google's Gemini API Key:</label>
            <input class="border p-1 mb-6 md:mb-0 md:col-span-2" type="text" id="gemini_api_key" name="gemini_api_key" placeholder="Optional: Will limit use of Gemini if not provided"/>
            <label class="text-left md:text-right" for="focus">Subject/Technology Focus:</label>
            <input class="border p-1 mb-6 md:mb-0 md:col-span-2" type="text" id="focus" name="focus" placeholder="Technology being compared to Conventional Surgery" required/>
            <label class="text-left md:text-right" for="rel_art_xlsx">Excel Containing the List of All Relevant Articles:</label>
            <input class="place-self-center mb-6 md:mb-0 md:col-span-2" type="file" id="rel_art_xlsx" name="rel_art_xlsx" accept=".xlsx" required/>
            <label class="text-left md:text-right" for="rel_art_pdfs_zip">Zip file of All PDFs of Relevant Articles:</label>
            <input class="place-self-center mb-6 md:mb-0 md:col-span-2" type="file" id="rel_art_pdfs_zip" name="rel_art_pdfs_zip"/>
        </div>
        <input class="text-[#0964b0] bg-white border border-gray-300 px-6 py-2 rounded-md hover:bg-[#f3f4f6] duration-200" type="submit" value="Submit"/>
    </form>
</div>

<div class="my-4 pt-4 pb-8 bg-slate-100">
    <!-- Results Section -->
    <h3 class="mx-4">Results:</h3>
    <div class = "mx-4 flex flex-col gap-2 justify-center">
        <div class="mx-auto">
            <p>Download the Literature Review Summary which identifies the following for each article:</p>
            <ul class="ml-8 list-disc list-outside">
                <li>List of all technolgy used</li>
                <li>List of the corresponding manufacturers of the technology used</li>
                <li>Study type that was executed</li>
                <li>Article's objectives</li>
                <li>Article's conclusions</li>
                <li>Sample size of the conventional group vs. the group upon which the technology of focus was used</li>
                <li>The reasoning that Gemini used to identify the sample sizes of the two groups (Made available for Human Judgement)</li>
                <li>The hazards, harms, and complications that occurred in the non-conventional group</li>
                <li>Gemini's confidence in the hazards, harms, and complications that it reported (Made available for Human Judgement)</li>
            </ul>
        </div>
        <button class="download">Download</button>
    </div>
</div>

<div class="place-self-center mt-10 mb-20">
    <button class="px-4 py-2 border rounded-md border-gray-300 bg-white hover:scale-110 hover:duration-200 hover:bg-blue-600 hover:text-white">Start a New Session</button>
</div>
{% endblock %}